
.menu_item {
  border: dashed 1px red;
}

.wrapper {
  margin: auto;
  border:dashed 1px red;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  border: dashed 1px red;
}

.logo,.menu {
  display: inline-block;
  border: dashed 1px red;
}

.logo {
  position: relative;
  padding: 40px 0;
  font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
  padding-left: 44px;
}

.logo_circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
  border: dashed 1px red;
}

.logo_circle_color_dark-blue {
  background: #0056EC;
}

.logo_circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.menu {
  display: flex;
  align-items: center
}

.menu_item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
  border: dashed 1px red
}

.menu_item:hover {
  opacity: 0.5;
}

.menu_item:last-child {
  margin-right: 0;
}

.menu_item_active:after {
  position: absolute;
  display: block;
  content:'';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s;
}

.menu_item:hover:after,.menu_item_active:after {
  opacity: 1;
}

h1 {
  border:dashed 1px red;
  display: block;
  width: 33%;
  display: flex;
  margin: 8px;
  margin-top: 15%;
}

p {
  border:dashed 1 px red;
  display: block;
  display: flex;
  width: 30%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

button {
 display: flex;
}
